<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compressor de PDF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Compressor de PDF</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            <label for="file">Escolha um arquivo PDF:</label><br>
            <input type="file" name="file" id="file" required><br><br>

            <label for="quality">Qualidade da compressão:</label><br>
            <select name="quality" id="quality">
                <option value="screen">Tela (baixa qualidade)</option>
                <option value="ebook">eBook (qualidade média)</option>
                <option value="printer">Impressão (alta qualidade)</option>
                <option value="prepress">Pré-impressão (qualidade máxima)</option>
            </select><br><br>

            <button type="submit">Comprimir PDF</button>
        </form>
    </div>
</body>
</html>
